<h1>Invoices <small>Home</small></h1>
<table id="invoices" class="table table-striped">
    <tr>
      <th>Invoice ID</th>
      <th>Due Date</th>
      <th>Amount</th>
      <th>Status</th>
    </tr>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.unique_id %></td>
        <td><%= invoice.due_date.strftime("%d %b %Y") %></td>
        <td><%= number_to_currency(invoice.amount) %></td>
        <td><%= invoice.status %></td>
      </tr>
    <% end %>
</table>
