<div class="row">
  <div class="col-sm-6">
    <h1>Invoice <small>New</small></h1>
    <p><%= link_to "Back to Invoices", invoices_path %></p>

    <%= form_for @invoice, role: "form" do |f| %>
      <div class="form-group">
        <%= f.submit "Save", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
